{% extends 'base.html' %}

{% load static %}

{% block title %}

    Consultas | Vitta+

{% endblock %}

{% block content %}

<div class="container mt-4 text-center">

    <div class="card-header bg-success text-white justify-content-center d-flex align-items-center pt-2 pb-2 mb-4">

        <h1>Lista de Consultas</h1>

    </div>

</div>

{% for consulta in consultas %}

    <hr>

        <div class="consultas" style="padding: 10px; margin-bottom: 10px;">
            
            <div>

                <h3> Paciente: {{ consulta.patient.name }}</h3>

                <p> Médico: Dr. {{ consulta.doctor.name }}</p>

                <p> Data: {{ consulta.date|date:"d/m/Y, H:i" }}</p>

                {% if perms.consulta.change_consultation %}

                    <a href="{% url 'consults_edit' consulta.id %}" class="btn btn-primary">Editar Consulta</a>

                {% endif %}

                {% if perms.consulta.delete_consultation %}

                    <a href="{% url 'consults_delete' consulta.id %}" class="btn btn-danger">Apagar Consulta</a>

                {% endif %}

            </div>

        </div>    

    <hr>

    {% empty %}

        <p>Nenhuma consulta marcada.</p>

{% endfor %}

{% endblock %}