{% extends 'base.html' %}

{% load static %}

{% block title %}

    Editar Consulta | Vitta+

{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card-header bg-success text-white justify-content-center d-flex align-items-center pt-2 pb-2 mb-4">

        <h1>Editar Consulta</h1>

    </div>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <a href="{% url 'consults_list' %}" class="btn btn-primary">Voltar</a>

        <button type="submit" class="btn btn-primary">Salvar alterações</button>

    </form>
</div>

{% endblock %}