{% extends 'base.html' %}

{% load static %}

{% block title %}

    Consultas | Vitta+

{% endblock %}

{% block content %}

<div class="container mt-4 text-center">

    <h1>Lista de Consultas</h1>

</div>

{% for consulta in consultas %}

<hr>

    <div class="consultas" style="padding: 10px; margin-bottom: 10px;">
        
        <div>

            <h3> Paciente: {{ consulta.patient.name }}</h3>

            <p> Médico: Dr. {{ consulta.doctor.name }}</p>

            <p> Data: {{ consulta.date|date:"d/m/Y, H:i" }}</p>

            <a href="{% url 'consults_edit' consulta.id %}" class="btn btn-primary">Editar Consulta</a>

            <a href="{% url 'consults_delete' consulta.id %}" class="btn btn-danger">Apagar Consulta</a>

        </div>

    </div>    

<hr>

{% empty %}

    <p>Nenhuma consulta marcada.</p>

{% endfor %}

{% endblock %}