{% extends 'base.html' %}

{% load static %}

{% block title %}

    Cadastrar Consulta | Vitta+

{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card-header bg-success text-white justify-content-center d-flex align-items-center pt-2 pb-2">

        <h3 class="mb-0">Cadastrar Consulta</h3>

    </div>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Agendar consulta</button>

    </form>

</div>

{% endblock %}