{% extends 'base.html' %}

{% load static %}

{% load format_filters %}

{% block content %}

<h1>Lista de Consultas</h1>

{% for consulta in consultas %}

<div>

    <hr>

    <h3>Paciente: {{ consulta.patient.name }}</h3>

    <p>Médico: {{ consulta.doctor.name }}</p>

    <p>Data: {{ consulta.date|date:"d/m/Y, H:i" }}</p>

    <a href="{% url 'consults_edit' consulta.id %}" class="btn btn-primary">Editar Consulta</a>

    <a href="{% url 'consults_delete' consulta.id %}" class="btn btn-danger">Apagar Consulta</a>

</div>

<hr>

{% empty %}

    <p>Nenhuma consulta marcada.</p>

{% endfor %}

{% endblock %}
