{% extends 'base.html' %}

{% load static %}

{% load format_filters %}

{% block title %}

    Pacientes | Vitta+

{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1>Lista de Pacientes</h1>

        <a href="{% url 'patients_add' %}" class="btn btn-primary">Novo paciente</a>

    </div>

    {% if patients %}

        <div class="table-responsive">

            <table class="table table-striped table-hover align-middle">

                <thead class="table-success">

                    <tr>

                        <th>Nome</th>

                        <th>Data de Nascimento</th>

                        <th>CPF</th>

                        <th>Sexo</th>

                        <th>Convênio Médico</th>

                    </tr>

                </thead>

                <tbody>

                    {% for patient in patients %}

                        <tr>

                            <td>{{ patient.name }}</td>

                            <td>

                                {{ patient.birth_date|date:"d/m/Y" }}

                            </td>

                            <td>

                                {{ patient.CPF|format_cpf }}

                            </td>

                            <td>

                                {{ patient.gender }}

                            </td>

                            <td>

                                {% if patient.health_insurance %}

                                    {{ patient.health_insurance }}

                                {% else %}

                                    Particular

                                {% endif %}

                            </td>

                            <td>

                                <a href="{% url 'patients_edit' patient.id %}" class="btn btn-primary btn-sm">Editar</a>

                                <a href="{% url 'patients_delete' patient.id %}" class="btn btn-danger btn-sm">Apagar</a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <div class="alert alert-info">

            Nenhum paciente cadastrado.

        </div>

    {% endif %}

</div>

{% endblock %}